.all-choclate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  justify-content: space-around;
}
.choclate-item {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.choclate-item button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
body {
  background-color: whitesmoke;
}
button:hover {
  cursor: pointer;
}
.choclate-item p {
  margin-bottom: 10px;
  font-size: 16px;
}
.total {
  width: 300px; /* Set width */
  height: 200px; /* Set height */
  background-color: aliceblue; /* Set background color */
  /* Set text color */
  padding: 20px; /* Add padding inside the div */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
